.final_form_array_wrapper {
  .header {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--gray900);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .form_group {
    display: flex !important;
    align-items: center;
    justify-content: center;

    .company_title {
      color: var(--gray900);
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
    }

    .add_customer,
    .remove_customer {
      margin: 20px 12px 0;
      width: 200px;
    }
  }

  .form_footer {
    display: flex;
    justify-content: flex-end;
  }
}
