.fillter_wrapper {
  padding: 0 16px;
}

.modal_input {
  .input_wrapper {
    margin: 0;
    div {
      margin-bottom: 10px;
      div {
        div {
          margin: 0;
          width: 300px;
        }
      }
    }
  }

  div {
    .input_lable_select {
      margin: 9px 0 0 10px;
    }
  }

  .form_footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 180px;
  }
}

.input_date {
  width: 300px;
  a {
    width: 100%;
    height: 36px;
    padding: 8px 0 8px;

    span{
      padding-right: 8px;
    }

    span::before {
      opacity: 1;
      color: rgba(0, 0, 0, 0);
      background: url("../../../img/Vector.svg") no-repeat;
      position: absolute;
      right: -30px;
      width: 50px;
      height: 20px;
      top: -1px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
