.update_container {
  i {
    font-size: 1rem;
    color: var(--blue700);
    padding: 4px;
  }

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.modal_input {
  padding: 16px;
  width: 100%;

  div {
    width: calc(100%);
    display: flex;
    justify-content: space-between;
    // padding-bottom: 50px;

    div {
      margin-bottom: 15px;
      position: relative;
      margin: 0 15px;

      div {
        margin: 0;
        width: 100%;

        div {
          margin: 0;
          width: 100%;

          div {
            input {
              width: 100% !important;
            }

            div {
              width: 100% !important;
            }

            .input_date {
              a {
                height: 36px;
                padding: 8px 0 8px;

                span {
                  padding-left: 12px;
                }

                span::before {
                  opacity: 1;
                  color: rgba(0, 0, 0, 0);
                  background: url("../../../img/Vector.svg") no-repeat;
                  position: absolute;
                  right: -30px;
                  width: 50px;
                  height: 20px;
                  top: -1px;

                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }

            span + span {
              padding-right: 8px;
            }
          }
        }

        label {
          z-index: 9;
          color: var(--gray500);
          position: absolute;
          left: 15px;
          top: -7px;
          transform: translateY(-50%);
          background-color: white;
          transition: 0.1s ease-out;
          transform-origin: left top;
          pointer-events: none;
          font-style: normal;
          font-weight: var(--font-normal);
          font-size: var(--text-xs);
          line-height: 12px;
          letter-spacing: 0.15px;
          margin: 0;
        }
      }
    }
  }
  .form_footer {
    display: flex;
    justify-content: flex-end;
  }
}

.form_upload {
  justify-content: flex-start !important;

  .user_image {
    height: 100px;
    object-fit: fill;
    border-radius: 4px;
  }

  input[type="file"] {
    color: transparent;
    width: 120px;
  }

  input::-webkit-file-upload-button {
    visibility: hidden;
  }
  input::before {
    content: "Upload Image";
    color: var(--gray900);
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 400;
    font-size: 10pt;
  }
  input:hover::before {
    border-color: var(--gray200);
  }
  input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}

.input_sex {
  div {
    div {
      height: 22px;
      margin: 30px 0 0 10px !important;
      &:hover {
        cursor: pointer;
      }
    }
  }

  span {
    left: 6px;
    top: 16px;
  }
}
